@page "/chat"

<PageTitle>Industry 4.0 - Chat</PageTitle>

<h1>Chat</h1>

<EditForm Model="Request" OnSubmit="Submit">
    <div class="mb-3">
        <label for="promptText" class="form-label">Question:</label>
        <InputText type="text" class="form-control" id="promptText" placeholder="Enter your question..." @bind-Value="Request.Question" />
    </div>
    <div class="form-check form-switch mb-3">
        <InputCheckbox class="form-check-input" id="useConciseResponseCheck" @bind-Value="Request.UseConciseResponse" />
        <label class="form-check-label" for="useConciseResponseCheck">
            Provide Concise Responses
        </label>
    </div>
    <div class="form-check form-switch mb-3">
        <InputCheckbox class="form-check-input" id="useContextOnlyCheck" @bind-Value="Request.UseContextOnly" />
        <label class="form-check-label" for="useContextOnlyCheck">
            Use Provided Context Only
        </label>
    </div>
    <button type="submit" class="btn btn-primary" disabled="@IsTaskRunning">Ask Question!</button>
</EditForm>

<div class="mt-4" id="input-result">
    @if (Response is not null)
    {
        <div class="card card-body mb-3">
            <h5 class="card-title">Question</h5>
            <p class="card-text" style="white-space: pre-line">@Response.Request.Question</p>
        </div>

        <div class="collapse mb-3" id="relevantChunks">
            <div class="card card-body bg-secondary-subtle">
                <h5 class="card-title">Relevant Chunks</h5>
                <div class="card-text">
                    @foreach (var chunk in Response.Chunks)
                    {
                        <p style="white-space: pre-line">@chunk.Content</p>
                        <p>
                            <em>
                                Source: <a href="@chunk.Document.SourceUrl">@chunk.Document.Title</a><br />
                                @chunk.Document.CategoryName by <strong>@chunk.Document.Author</strong>
                            </em>
                        </p>
                        <hr />
                    }

                    <p>
                        <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#relevantChunks" aria-expanded="false" aria-controls="relevantChunks">
                            Hide
                        </button>

                        <em>Semantic search took @(Response.SimilaritySearchDuration.TotalSeconds.ToString("N1"))s</em>
                    </p>
                </div>
            </div>
        </div>

        <div class="collapse mb-3" id="finalPrompt">
            <div class="card card-body bg-secondary-subtle">
                <h5 class="card-title">Final Prompt</h5>
                <div class="card-text">
                    <p style="white-space: pre-line">@Response.Prompt</p>
                    <hr />

                    <p>
                        <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#finalPrompt" aria-expanded="false" aria-controls="finalPrompt">
                            Hide
                        </button>

                        <em>Final prompt took @(Response.ChatProviderDuration.TotalSeconds.ToString("N1"))s</em>
                    </p>
                </div>
            </div>
        </div>

        <div class="card card-body mb-3">
            <h5 class="card-title">Answer</h5>
            <p class="card-text" style="white-space: pre-line">@Response.Answer</p>
            <p><em>Round-trip took @(Stopwatch.Elapsed.TotalSeconds.ToString("N1"))s</em></p>
        </div>

        <p class="mb-3">
            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#relevantChunks" aria-expanded="false" aria-controls="relevantChunks">
                Relevant Chunks
            </button>
            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#finalPrompt" aria-expanded="false" aria-controls="finalPrompt">
                Final Prompt
            </button>
        </p>
    }
    else if (Error is not null)
    {
        <div class="card card-body">
            <pre>@Error</pre>
        </div>
    }
    else
    {
        @if (IsTaskRunning)
        {
            <p>Asking question...</p>
        }
    }
</div>