@page "/documents/{documentId:int}"

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h2>@Document.Title</h2>
            </div>
        </div>
        <div class="row">
            <div class="col my-2 p-2">
                <span class="document-description">
                    @Document.Description
                </span>
            </div>
        </div>
        <div class="row">
                <div class="col">
                <strong>Category:</strong> @Document.CategoryName
            </div>
        </div>
        <div class="row">
            <div class="col">
                <strong>Author:</strong> @Document.Author
            </div>
        </div>
        <div class="row">
            <div class="col">
                <strong>Published:</strong> @(Document.PublishDate.ToShortDateString())
            </div>
        </div>
        <div class="row">
            <div class="col">
                <strong>Source:</strong> <a href="@Document.SourceUrl" target="_blank">@Document.SourceUrl</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <strong>Content:</strong> <a href="@Document.ContentUrl" target="_blank">@Document.ContentUrl</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <strong>Chunks:</strong> <a href="/documents/@Document.Id/chunks">Document Chunks</a>
            </div>
        </div>
    </div>
</div>